<h2>Восстановление пароля</h2>
<div class="panel panel-default">
    <div class="panel-heading">Выберите свой вариант</div>
    <div class="panel-body">
        <p>Если вы незарегистрированы, пожалуйста, <a href="#/commonsignup">зарегистрируйтесь</a></p>
        <p>Если вы уже зарегистрированы, пожалуйста, выполните <a href="#/signin">вход в систему</a></p>
        <p>Если вы участник какой-либо социальной программы, то выберие вкладку "Участник социальных программ". Если вы участвуете в программе "Жилищные строительные накопления", то вам нужна вкладка "Участник ЖСС"</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs">
            <li class="active" role="presentation">
                <a href="#/commonrestorepwd">Участник социальных программ</a>
            </li>
            <li role="presentation">
                <a href="#/restorepwd">Участник ЖСС</a>
            </li>
        </ul>
        <div style="padding: 10px 10px 0; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;">
            <form name="formRestore" class="form-horizontal" role="form" novalidate="">
                <div class="form-group has-feedback" ng-class="{ 'has-error': (formRestore.$submitted || formRestore.inputSnils.$touched) && formRestore.inputSnils.$invalid }">
                    <label for="inputSnils" class="col-sm-5 control-label">СНИЛС</label>
                    <div class="col-sm-7">
                        <input name="inputSnils" type="text" class="form-control" placeholder="СНИЛС" ui-mask="999-999-999 99" data-ng-model="restore.snils" required autofocus>
                        <span class="glyphicon glyphicon-ban-circle form-control-feedback" aria-hidden="true" ng-show="(formRestore.$submitted || formRestore.inputSnils.$touched)  && formRestore.inputSnils.$invalid"></span>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': (formRestore.$submitted || formRestore.inputPhoneNumber.$touched) && formRestore.inputPhoneNumber.$invalid }">
                    <label for="inputPhoneNumber" class="col-sm-5 control-label">Номер мобильного телефона</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon" id="Span1">+7</span>
                            <input name="inputPhoneNumber" type="text" class="form-control" aria-describedly="inputAddonPhoneNumber" placeholder="Номер телефона" ui-mask="(999) 99 99999" data-ng-model="restore.phoneNumber" required autofocus>
                        </div>
                        <span class="glyphicon glyphicon-ban-circle form-control-feedback" aria-hidden="true" ng-show="(formRestore.$submitted || formRestore.inputPhoneNumber.$touched) && formRestore.inputPhoneNumber.$invalid"></span>
                        <p class="help-block">Введите последние 10 цифр номера</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-5">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="restore()" style="margin-bottom: 10px;" value="Готово" ng-disabled="formRestore.$invalid" />
                    </div>
                </div>
                <div data-ng-hide="!savedSuccessfully" class="alert alert-success" style="margin-bottom: 10px;">
                    Пароль успешно выслан на указанный вами номер телефона
                </div>
                <div data-ng-hide="!errors.length" class="alert alert-danger" style="margin-bottom: 10px;">
                    Ошибка:
                    <ul data-ng-repeat="error in errors">
                        <li>{{error}}</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>


